node_modules
.DS_Store
package-lock.json
package.json

.env.local
.env.development.local
.env.production.local
.env

npm-debug.log*

build/

api/old-test-apis
server/api/googlejobs.js

screenshot.png
ziprecruiter-screenshot.png
indeed-screenshot.png